// Vars.scss
.test{
  color: antiquewhite;
  background-color: azure;
  display: inline-block;
  font-size: 13px;
  box-shadow: aliceblue;
  transform: rotate(5deg);
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}